<template name="task">
    <div class="table-row d-flex align-center">
        {{#if checked}}
        <input type="checkbox"  class="check-task" checked>
        {{else}}        
        <input type="checkbox"  class="check-task">
        {{/if}}
        

        {{ #if isEdit }}
            <input type="text" value="{{ text }}"/>
            <button class="edit-task">Update</button>
        {{ else }}
            <div class="table-col flex-col w-30 title" id="title_col">{{text}}</div>
            <button class="edit-task">Edit</button>
        {{ /if }}
        
        <button class="delete">&times;</button>
        
        <div class="table-col flex-2">{{formatDate createdAt}}</div>  
        <div class="table-col flex-2">{{ status }}</div>
        <br>
        <br>
    </div>
</template>